@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: "Neuton", serif;
    background-image: url(../img/nuevo_fondopaginaweb.png);
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.contenedor {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 4%;
    position: absolute;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    padding-left: 0px;
    margin-left: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/headeragina2.png);
    visibility: visible;
    top: -0.5%;
    z-index: 100;
}

.logo {
    width: 13%;
    height: 43%;
    position: absolute;
    top: 26%;
    left: 8%;
    background-image: url(../img/blanco%20logo.png);
    background-position: center center;
    background-size: contain;
    border-radius: 15px;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Sedan SC", serif;
    text-transform: none;
    color: #ffffff;
    text-shadow: 1px 1px 7px #000000;
    text-align: right;
    border-radius: 9px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 77%;
    margin-left: 21%;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    height: 24%;
    font-size: 783%;
    margin-top: 0%;
}
.slider {
    width: 100%;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../img/nuevo_fondopaginaweb.png);
    height: 100%;
    position: relative;
    overflow: hidden;
}

.balazo {
    margin-top: 0%;
    padding-top: 32%;
    width: 100%;
    height: 100vh;
    background-image: url(url);
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    padding-left: 48px;
    position: relative;
    z-index: 1;
}
.balazo p {
    font-family: "Neuton", serif;
    width: 38%;
    margin-left: 59%;
    color: #ffffff;
    border-bottom-left-radius: 41px;
    border-top-left-radius: 41px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    font-weight: 500;
    font-size: 216%;
    font-style: normal;
    border-bottom-right-radius: 0px;
    text-align: right;
    margin-bottom: -1%;
}
.boton {
    width: 26%;
    height: 14%;
    margin-top: 2.5%;
    margin-left: 74%;
    text-align: left;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(12, 14, 25, 1);
    box-shadow: 0px 0px 10px 2px rgba(12, 14, 25, 1);
    background-color: rgba(155, 155, 52, 1);
    margin-bottom: 17%;
    padding-top: 0.5%;
    border-bottom-left-radius: 79px;
    border-top-left-radius: 79px;
    border-bottom-right-radius: 0px;
    padding-left: 2%;
}
.boton a {
    text-decoration: none;
    font-weight: 900;
    color: rgba(12, 14, 25, 1);
    font-size: 190%;
    text-align: left;
    font-family: "Sedan SC", serif;
    font-style: normal;
    font-variant: normal;
}
footer {
    padding-top: 32px;
    padding-bottom: 32px;
    height: auto;
    background-color: rgba(13, 14, 25, 1);
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-right: 6rem;
    padding-left: 6rem;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    position: relative;
    z-index: 50;
}
footer h1 {
    font-size: x-large;
    padding-left: 0px;
    margin-left: 3%;
    border-radius: 0px;
    text-align: left;
    font-family: "Sedan SC", serif;
    font-style: italic;
    font-weight: 500;
    width: 85%;
    margin-bottom: 2%;
}
footer ul {
    margin-left: 3%;
    margin-top: 1%;
}
footer li {
    color: rgba(244, 200, 111, 1);
    font-family: "Neuton", serif;
}
.col-01 {
    width: 30%;
    float: left;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.col-02 {
    width: 30%;
    padding: 1%;
    float: left;
}

.redes {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.logofooter {
    padding-left: 0px;
    margin-left: 93px;
}
.aboutus {
    padding-top: 6%;
    position: relative;
    z-index: 10;
}

.aboutus-container {
    width: 77%;
    margin-left: 12%;
    min-height: 67vh;
    position: relative;
    display: flex;
    align-items: center;
}

.fyran {
    position: absolute;
    left: -5%;
    top: 10%;
    width: 60%;
    z-index: 1;
}

.fyran img {
    width: 100%;
    height: auto;
    display: block;
}

.tabladerecha {
    width: 55%;
    margin-left: 45%;
    position: relative;
    z-index: 2;
    padding-left: 2%;
}

.quiensomos {
    width: 36%;
    font-family: "Sedan SC", serif;
    font-size: 706%;
    text-align: center;
    margin-left: 21%;
    margin-top: 5%;
    margin-bottom: 8%;
    text-shadow: 0px 0px 6px rgba(79, 26, 5, 0.8);
}
.slogan {
    font-family: "Neuton", serif;
    font-style: normal;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 500;
    width: 68%;
    margin-left: 21%;
    margin-bottom: 2%;
    text-shadow: 0px 0px 1px rgba(79, 26, 5, 0.8);
}

.iconocatalogo {
    margin-left: 13%;
    margin-top: 12%;
    text-align: center;
    width: 77%;
    position: relative;
    z-index: 10;
}
.queofrecemos {
    font-size: 216%;
    font-family: "Sedan SC", serif;
    font-weight: 600;
    margin-bottom: 7%;
    font-style: normal;
    margin-top: 3%;
    text-shadow: 0px 0px;
    width: 53%;
    background-color: rgba(155, 155, 52, 1);
    border-bottom-left-radius: 52px;
    border-top-left-radius: 52px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 11px;
    margin-left: 62.9%;
    border-bottom-right-radius: 0px;
    text-align: left;
    padding-left: 2%;
}

.catalogo {
    width: 16%;
    height: 14%;
    display: inline-block;
    margin-top: 0%;
}
.queofrecemos2 {
    font-size: 216%;
    font-family: "Sedan SC", serif;
    font-weight: 600;
    margin-bottom: 3%;
    font-style: normal;
    margin-top: 7%;
    text-shadow: 0px 0px;
    width: 56%;
    background-color: rgba(155, 155, 52, 1);
    border-bottom-right-radius: 52px;
    border-top-right-radius: 52px;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 6px;
    margin-left: -14%;
    border-top-left-radius: 0px;
    text-align: right;
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.59);
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.59);
}
.producto {
    width: 17%;
    height: 15%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-left: thick none rgba(244, 217, 124, 1);
    border-right: thick none rgba(244, 217, 124, 1);
    border-bottom: 30px solid rgba(244, 217, 124, 1);
    border-top: thick none rgba(244, 217, 124, 1);
    margin-left: -12px;
}

.laorden {
    display: grid;
    place-items: center;
    margin-top: 8%;
    position: relative;
    z-index: 10;
}

.laorden-image,
.laorden-texto {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.laorden-image {
    width: 100%;
}

.laorden-texto {
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.laorden-texto h2 {
    font-family: "Sedan SC", serif;
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.laorden-texto p {
    font-family: "Neuton", serif;
    font-size: 1.5rem;
    margin-bottom: 30px;
    max-width: 600px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.btn-laorden {
    font-family: "Sedan SC", serif;
    font-size: 1.5rem;
    color: #0c0e19;
    background-color: #f0f0f0;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 800;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-laorden:hover {
    background-color: #fff;
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}

.laordenimg {
    width: 100%;
    height: auto;
    display: block;
}
.listaheader {
    margin-top: 3%;
    width: 35%;
    margin-left: 62%;
}
.listabtn {
    width: 32%;
    display: inline-block;
    margin-left: 0px;
}

.btnheader {
    text-align: center;
}
.btnheader a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
    font-family: "Sedan SC", serif;
    font-size: x-large;
    font-weight: 600;
}
.menu {
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

.menu h2 {
    font-family: "Poppins", serif;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.menu-grid {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-item {
    width: 300px;
    background-color: rgba(13, 14, 25, 1);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-family: "Sedan SC", serif;
    font-weight: 600;
    color: rgba(244, 200, 111, 1);
}

.menu-item p {
    font-size: 0.95rem;
    line-height: 1.4em;
    font-family: "Sedan SC", serif;
    color: rgba(255, 255, 255, 1);
}

.catalogo-grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 25px;
    width: 70%;
    margin: 30px auto;
}

.catalogo-item {
    text-align: center;
    transition: 0.3s ease-in-out;
}

.catalogo-item img {
    width: 82%;
    border-radius: 10px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    height: 100%;
}

.catalogo-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.eventos {
    width: 77%;
    margin-left: 12%;
    margin-top: 8%;
    margin-bottom: 5%;
    position: relative;
    z-index: 10;
}

.event-card {
    width: 100%;
    min-height: 450px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.event-img-right {
    flex-direction: row;
}

.event-img-left {
    flex-direction: row;
}

.event-content {
    width: 50%;
    background-image: url(../img/fondopergamino.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 60px 50px;
    position: relative;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-content h2 {
    font-family: "Sedan SC", serif;
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 900;
}

.event-content p {
    font-family: "Neuton", serif;
    font-size: 1.3rem;
    color: #000000;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 500;
}

.button-event {
    text-align: center;
}

.button-event a {
    font-family: "Sedan SC", serif;
    font-size: 1.5rem;
    color: #000000;
    background-color: #ffffff;
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 800;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    transition: all 0.3s ease;
}

.button-event a:hover {
    background-color: #f4c86f;
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.event-image {
    width: 45%;
    position: relative;
}

.event-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

#location {
    width: 100%;
    margin: 0;
    margin-bottom: 80px;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 30px 40px 80px 40px;
    background-color: rgba(13, 14, 25, 1);
    min-height: 600px;
}

#location h2 {
    font-family: "Sedan SC", serif;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 7px #000000;
    font-weight: 600;
}

#location iframe {
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: block;
}
